@model EntityLayer.Concrete.Announcement
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1>Duyurular</h1>
<br />
<h2>@Model.Title</h2>
<form>
    @Html.HiddenFor(x => x.AnnouncementID)
    <div class="form-group">
        @Html.Label("Duyuru İçeriği: ")
        @Html.TextAreaFor(x => x.Content, new { @class = "form-control", @rows = 20, @cols = 100, @readonly = "readonly" })
    </div>
    <br />
    <a href="/Member/Dashboard" class="btn btn-sm btn-outline-dark">Ana Sayfaya Dön</a>
</form>

