@model List<EntityLayer.Concrete.Destination>

<section class="w3l-main-slider" id="home">
    <div class="banner-content">
        <div id="demo-1"
             data-zs-src='["/Traversal-Starter/assets/images/banner1.jpg", "https://images.unsplash.com/photo-1424112908919-49d7a3e04482?q=80&w=1773&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D","https://images.unsplash.com/photo-1606864034826-111e5945de8d?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D", "https://images.unsplash.com/photo-1695719930864-d29bab856dfe?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"]'
             data-zs-overlay="dots">
            <div class="demo-inner-content">
                <div class="container">
                    <div class="banner-infhny">
                        <h3>Hayalinizdeki seyahatlar uzakta değil, Traversal'da.</h3>
                        <h6 class="mb-3">Tatilini şimdi planla</h6>
                        <div class="flex-wrap search-wthree-field mt-md-5 mt-4">
                            <form action="#" method="post" class="booking-form">
                                <div class="row book-form">
                                    <div class="form-input col-lg-4 col-md-6 col-12 mt-md-0 mt-3">
                                        <select name="selectpicker" class="selectpicker">
                                            <option hidden>Rotalar</option>
                                            @foreach (var item in Model)
                                            {
                                                <option value="">@item.City</option>
                                            }
                                        </select>
                                    </div>

                                    <div class="form-input col-lg-4 col-md-6 col-12 mt-md-0 mt-3">
                                        <input type="date" name="" placeholder="Date" required="">
                                    </div>

                                    <div class="bottom-btn col-lg-4 col-md-12 col-12 mt-md-0 mt-3">
                                        <a href="/Login/SignIn" class="btn btn-style btn-secondary" target="_blank">
                                            <span class="fa fa-search mr-3" aria-hidden="true"></span>Ara
                                        </a>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
