@model TraversalPresentationLayer.Models.ForgetPasswordViewModel
@{
    Layout = null;
}
<head>
    <title>Traversal - Şifremi Unuttum</title>
    <link rel="icon" href="/Traversal-Starter/assets/images/Travel-Tour.ico" type="image/x-icon">
</head>
<!DOCTYPE html>
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <br /> <br />

    <h2>Traversal Şifre Yenileme Sayfası</h2>
    <form method="post">
        <label for="email">E-Posta Adresinizi Giriniz: </label>
        <input type="email" class="form-control" asp-for="Email">
        <br />
        <button class="btn btn-primary">Şifre Sıfırlama Linki Gönder</button>
        <br/>
        @if (ViewBag.Message != null)
        {
            <div class="alert alert-info">
                @ViewBag.Message
            </div>
        }
    </form>
</div>
<style>

    .text-danger ul {
        list-style-type: none; /* Madde işaretlerini kaldırır */
        padding-left: 0; /* Sol boşluğu kaldırır */
        margin: 0; /* Üst ve alt boşlukları kaldırır */
    }

    .text-danger li {
        margin-bottom: 0.5rem; /* Liste elemanları arasında küçük boşluk bırakır */
    }

</style>
@* <ul class="error-list">

    <li>@Html.ValidationSummary(true, "", new { @class = "text-danger" })</li>

</ul> *@
