@model TraversalPresentationLayer.Models.ResetPasswordViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <br /> <br />

    <h2>Traversal Şifre Yenileme Sayfası</h2>
    <form method="post">
        <label for="text">Yeni Şifrenizi Giriniz: </label>
        <input type="password" class="form-control" asp-for="Password">
        <span asp-validation-for="Password" class="text-danger"></span>
        <br />
        <label for="text">Yeni Şifrenizi Tekrar Giriniz: </label>
        <input type="password" class="form-control" asp-for="ConfirmPassword">
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        <br />
        <button class="btn btn-primary">Şifremi Sıfırla</button>
    </form>
</div>
<style>

    .text-danger ul {
        list-style-type: none; /* Madde işaretlerini kaldırır */
        padding-left: 0; /* Sol boşluğu kaldırır */
        margin: 0; /* Üst ve alt boşlukları kaldırır */
    }

    .text-danger li {
        margin-bottom: 0.5rem; /* Liste elemanları arasında küçük boşluk bırakır */
    }

</style>
