@model DTOLayer.DTOs.AppUserDTOs.AppUserLoginDTO
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="tr">
<head>
    <title>Traversal Kullanıcı Giriş</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/Login_v1/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login_v1/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login_v1/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login_v1/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login_v1/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login_v1/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login_v1/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Login_v1/css/main.css">
    <!--===============================================================================================-->
</head>
<body>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-pic js-tilt" data-tilt>
                    <h4 class="text-center mb-4">Rezervasyon oluşturmak için lütfen hesabınıza giriş yapın veya üye olun.</h4>
                    
                    <img src="~/Login_v1/images/img-01.png" alt="IMG">

                </div>
                <form class="login100-form validate-form" method="post">
                    <span class="login100-form-title">
                    Traversal Kullanıcı Girişi
                    </span>
                    @if (ViewData.ModelState.Values.Any(v => v.Errors.Count > 0))
                    {
                        <div class="alert alert-danger">
                            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                            {
                                <p>@error.ErrorMessage</p>
                            }
                        </div>
                    }
                    <div class="wrap-input100 validate-input" data-validate="Geçerli bir kullanıcı adı girin.">
                        <input class="input100" type="text" asp-for="Username" placeholder="Kullanıcı Adı">
                        <span asp-validation-for="Username" class="text-danger"></span>
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Parola gereklidir.">
                        <input class="input100" type="password" asp-for="Password" placeholder="Parola">
                        <span asp-validation-for="Password" class="text-danger"></span>
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </span>
                    </div>

                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn">
                            Giriş Yap
                        </button>
                    </div>

                    <div class="text-center p-t-12">
                        <span class="txt1">
                            <a class="txt2" href="/PasswordChange/ForgetPassword/">
                                Şifremi Unuttum
                                <i aria-hidden="true"></i>
                            </a>
                        </span>
                        <br />  
                        <span>
                            <a class="txt2" href="/Login/SignUp/">
                                Bir hesabınız yok mu, üye olun!
                                <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
                            </a>
                        </span>
                    </div>
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                </form>
            </div>
        </div>
    </div>
    <!--===============================================================================================-->
    <script src="~/Login_v1/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Login_v1/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Login_v1/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Login_v1/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Login_v1/vendor/tilt/tilt.jquery.min.js"></script>
    <script>
        $('.js-tilt').tilt({
            scale: 1.1
        })
    </script>
    <!--===============================================================================================-->
    <script src="~/Login_v1/js/main.js"></script>
</body>
</html>

