@model List<TraversalPresentationLayer.CQRS.Results.GuideResults.GetAllGuideQueryResult>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <h4 class="card-header">CQRS MediatR Rehber Listesi</h4>
    <table class="table table-hover">
        <thead class="">
            <tr>
                <th></th>
                <th>Görsel</th>
                <th>Ad Soyad</th>
                <th>Açıklama</th>
                <th>İşlemler</th>
            </tr>
        </thead>
        <tbody class="table-border-bottom-0">
            @foreach (var item in Model)
            {
                <tr>
                    <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>@item.GuideID</strong></td>
                    <td>
                        <img src="@item.Image"
                             class="d-block rounded"
                             height="50"
                             width="50" />
                    </td>
                    <td>@item.GuideName</td>
                    <td>@item.Description</td>
                    <td>
                        <div class="dropdown">
                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                <i class="bx bx-dots-vertical-rounded"></i>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/Admin/GuideMediatR/DeleteGuide/@item.GuideID"><i class="bx bx-trash me-1"></i>Sil</a>
                                <a class="dropdown-item" href="/Admin/GuideMediatR/GetGuides/@item.GuideID"><i class="bx bx-edit-alt me-1"></i>Düzenle</a>

                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<br />
<a href="/Admin/GuideMediatR/AddGuide/" class="btn btn-outline-primary">CQRS MediatR ile Yeni Rehber Oluştur</a>

