@model IEnumerable<TraversalPresentationLayer.Models.ExchangeRatesViewModel.Exchange_Rates>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<h1>Türk Lirası Kur Bilgileri</h1>
<br />
{
    <table">
        <tr>
            <th>Kur Adı</th>
            <th>Kur Oranı</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.currency</td>
                <td>@item.exchange_rate_buy</td>
            </tr>
        }
    </table>
}

