<div class="app-brand demo" style="text-align: center;">
    <h4 style="display: inline-block; margin: 0;">Traversal Admin</h4>
    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
        <i class="bx bx-chevron-left bx-sm align-middle"></i>
    </a>
</div>