
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>PDF Raporları</h1>
<br />
<a href="/Admin/PDFReport/StaticPDFReport" class="btn btn-outline-primary">Statik PDF Raporu</a>
<br />
<a href="/Admin/PDFReport/StaticCustomerPDFReport" class="btn btn-outline-primary">Statik Misafir Tablo PDF Raporu</a>
