
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Excel Raporları</h1>
<br />
<a href="/Admin/Excel/StaticExcelReport/" class="btn btn-outline-primary">Statik Excel Raporu</a>
<br />
<a href="/Admin/Excel/DestinationExcelReport/" class="btn btn-outline-primary">Dinamik Excel Raporu (Tur Rotaları)</a>


