<footer>
    <!-- footer -->
    <section class="w3l-footer">
        <div class="w3l-footer-16-main py-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12 d-flex flex-column align-items-center">
                        <div class="row w-100">
                            <div class="col-md-4 text-center">
                                <h3>Navigasyon</h3>
                                <ul class="footer-gd-16">
                                    <li><a href="/Default/Index">Ana Sayfa</a></li>
                                    <li><a href="blog.html">Hizmet ve Şartlar</a></li>
                                    <li><a href="blog.html">Gizlilik Politikası</a></li>
                                    <li><a href="/Contact/Index">Bize Ulaşın</a></li>
                                </ul>
                            </div>
                            <div class="col-md-4 text-center mt-md-0 mt-4">
                                <h3>Çalışmalarımız</h3>
                                <ul class="footer-gd-16">
                                    <li><a href="/About/Index">Hakkımızda</a></li>
                                    <li><a href="/Destination/Index">Rotalar</a></li>
                                    <li><a href="/Guides/Index">Tur Rehberleri</a></li>
                                    <li><a href="/Packets/Index">Paketlerimiz</a></li>
                                </ul>
                            </div>
                            <div class="col-md-4 text-center mt-md-0 mt-4">
                                <h3>Faydalı Linkler</h3>
                                <ul class="footer-gd-16">
                                    <li><a href="/TCMBCurrency/Index">Döviz Kurları</a></li>
                                    <li><a href="/IMDBMovie/Index">IMDB En İyi 100 Film</a></li>
                                    <li><a href="/">Bilmeniz Gerekenler</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 text-center pl-lg-5 column4 mt-lg-0 mt-5">
                        <h3>Bültene Abone Ol</h3>
                        <div class="end-column">
                            <h4>Kampanya ve indirimlerimizden haberdar olmak için abone olun.</h4>
                            <form action="#" class="subscribe" method="post">
                                <input type="email" name="email" placeholder="E-posta Adresiniz" required="">
                                <button type="submit">Abone Ol</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-between align-items-center pt-4 mt-5 text-center">
                    <div class="text-lg-left">
                        <p>
                            &copy;@DateTime.Now.Year Tüm hakları saklıdır. Design by <a href="https://w3layouts.com/" target="_blank">W3layouts</a> - Edited by <a href="https://burakarslan.me" target="_blank">Burak Arslan</a>
                        </p>
                    </div>
                    <div class="mt-lg-0 mt-3">
                        <ul class="social d-flex justify-content-center list-unstyled">
                            <li>
                                <a href="#facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                            </li>
                            <li>
                                <a href="#instagram"><span class="fa fa-instagram" aria-hidden="true"></span></a>
                            </li>
                            <li>
                                <a href="#linkedin"><span class="fa fa-linkedin" aria-hidden="true"></span></a>
                            </li>
                            <li>
                                <a href="#twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a>
                            </li>
                            <li>
                                <a href="#github"><span class="fa fa-github" aria-hidden="true"></span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- move top -->
        <button onclick="topFunction()" id="movetop" title="Go to top">
            <span class="fa fa-angle-up"></span>
        </button>
        <script>
            // When the user scrolls down 20px from the top of the document, show the button
            window.onscroll = function () {
                scrollFunction()
            };

            function scrollFunction() {
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    document.getElementById("movetop").style.display = "block";
                } else {
                    document.getElementById("movetop").style.display = "none";
                }
            }

            // When the user clicks on the button, scroll to the top of the document
            function topFunction() {
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
            }
        </script>
        <!-- //move top -->
        <script>
            $(function () {
                $('.navbar-toggler').click(function () {
                    $('body').toggleClass('noscroll');
                })
            });
        </script>
    </section>
    <!-- //footer -->
</footer>
