<div class="col-12 col-xl-4">
    <div class="card h-100">
        <div class="card-header pb-0 p-3">
            <div class="row">
                <div class="col-md-8 d-flex align-items-center">
                    <h6 class="mb-0">Profil Bilgileri</h6>
                </div>
            </div>
        </div>
        <div class="card-body p-3">
            <p class="text-sm">
                Traversal üye sistemine hoşgeldiniz. Sol tarafta yer alan menüden yeni rezervasyon oluşturabilmekle beraber geçmiş, aktif ve onaylanmayan rezervasyonlarınızı rezervasyonlarınızı görüntüleyebilirsiniz.
            </p>
            <ul class="list-group">
                <li class="list-group-item border-0 ps-0  text-sm"><strong class="text-dark">Kullanıcı Adı: </strong>@ViewBag.mUsername</li>
                <li class="list-group-item border-0 ps-0  text-sm"><strong class="text-dark">Ad Soyad: </strong>@ViewBag.mNameSurname</li>
                <li class="list-group-item border-0 ps-0  text-sm"><strong class="text-dark">Telefon No: </strong>@ViewBag.mPhoneNumber</li>
                <li class="list-group-item border-0 ps-0  text-sm"><strong class="text-dark">E-posta: </strong>@ViewBag.mPhoneNumber</li>
            </ul>
        </div>
    </div>
</div>
